### Python integration (for use in Jupyter Notebooks)

Please install the requirements using:
    
```bash
pip install pandas pydataset rpy2
```

Load `rpy2` extension:

In [1]:
%%capture
%load_ext rpy2.ipython

Install the package (if not already installed):

In [2]:
%%R
if (!require(devtools, quietly=T)) install.packages("devtools")
if (!require(ComplexUpset, quietly=T)) devtools::install_github("krassowski/complex-upset")

## Load ggplot2 and ComplexUpset

In [3]:
%%R
library(ggplot2)
library(ComplexUpset)

## Prepare the datasets

In [4]:
from pydataset import data as load_data
movies = load_data('movies').dropna()
movies.head(3).T

                            48                          112            124
title        'Til There Was You  10 Things I Hate About You  100 Mile Rule
year                       1997                        1999           2002
length                      113                          97             98
budget                  2.3e+07                     1.6e+07        1.1e+06
rating                      4.8                         6.7            5.6
votes                       799                       19095            181
r1                          4.5                         4.5            4.5
r2                          4.5                         4.5            4.5
r3                          4.5                         4.5            4.5
r4                         14.5                         4.5            4.5
r5                         14.5                         4.5           14.5
r6                         14.5                        14.5           24.5
r7                         14.5                        24.5           14.5
r8                          4.5                        14.5           14.5
r9                          4.5                        14.5            4.5
r10                        14.5                        14.5           14.5
mpaa                      PG-13                       PG-13              R
Action                        0                           0              0
Animation                     0                           0              0
Comedy                        1                           1              1
Drama                         0                           0              0
Documentary                   0                           0              0
Romance                       1                           1              0
Short                         0                           0              0

In [5]:
genres = list(movies.columns[-7:])
genres

['Action', 'Animation', 'Comedy', 'Drama', 'Documentary', 'Romance', 'Short']

Convert the genre indicator columns to use boolean values:

In [6]:
movies[genres] = movies[genres] == 1
movies[genres].head(3).T

               48     112    124
Action       False  False  False
Animation    False  False  False
Comedy        True   True   True
Drama        False  False  False
Documentary  False  False  False
Romance       True   True  False
Short        False  False  False

### Quick notes on `rpy2` `%%R` magic usage

- use `-i` switch to import data into R using rpy2 interface
- `-w` and `-h` can be used to adjust the width and height of the plot
- `-r` switch can be used to adjust DPI

### Import the Python data frame to R

In [7]:
%R -i movies -i genres